body{
    background-color: lightgray;
}

footer{
    background-color: darkgray;
}

h2{
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img.cust-padding{
    padding:8px 10px 0px 0px;
}